


#section1 {
    padding:100px 20px;
    background-color: grey;
}

#section2 {
    padding:100px 20px;
    background-color:lightslategray
}

#section3 {
    padding:100px 20px;
    background-color: grey;
}